<div class="auth-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="auth-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-card-content>
        <mat-form-field class="auth-full-width">
          <input type="email" matInput placeholder="Email" ngModel name="email" email required #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid, please type correct email address</mat-error>
        </mat-form-field>

        <mat-form-field class="auth-full-width">
          <input type="password" matInput ngModel name="password" required>
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
