<div class="auth-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="auth-form" #f="ngForm" (ngSubmit)="onSubmit(f)">

      <mat-card-content>
        <mat-form-field class="auth-full-width">
          <input type="text" matInput placeholder="Username" ngModel name="username" required>
          <mat-error>Username is required!</mat-error>
        </mat-form-field>

        <mat-form-field class="auth-full-width">
          <input type="email" matInput placeholder="Email" ngModel name="email" email required #emailInput="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
        </mat-form-field>

        <mat-form-field class="auth-full-width" hintLabel="Should be at least 6 charactes long">
          <input type="password" matInput placeholder="Password" ngModel name="password" required minlength="6" #pwInput="ngModel">
          <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
          <mat-error>Password is required</mat-error>
        </mat-form-field>

      </mat-card-content>

      <button type="submit" mat-stroked-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>
